<div id="album-detail">
     <h2>Information</h2>
    <table>
        <tbody>
             <tr>
                <td>Title</td>
                <td>{{album.albumTitle}}</td>
            </tr>
            <tr>
                <td>Released Year</td>
                <td>{{album.releasedYear}}</td>
            </tr>
            <tr>
                <td>Number Of Songs</td>
                <td>{{album.numberOfSongs}}</td>
            </tr>
            <tr> 
                <td>Album Length</td>
                <td>{{album.albumLenght}}</td>
            </tr>
        </tbody>
    </table>

    <a href="/albums" class="btn">Back to Albums</a>

    <form action="/albums/{{album.albumID}}" method="POST" style="display:inline;">
        <button type="submit" class="btn update-btn">Update Album</button>
    </form>

    <form action="/albums/{{album.albumID}}?_method=DELETE" method="POST" style="display:inline;">
        <button type="submit" class="btn delete-btn">Delete Album</button>
    </form>

<h3>Songs on this Album</h3>
<table>
    <tbody>
        <tr>
            <td>Track Number</td>
            <td>Song Title</td>
            <td>Duration</td>
        </tr>
        
         {{#each songs}}
        <tr>

            <td>{{trackNumber}}</td>
            <td>{{songTitle}}</td>
            <td>{{duration}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

</div>
