<div id="album-details">
    <h1>{{album.albumTitle}}</h1>

    <h2>Information</h2>
    <table>
        <tbody>
             <tr>
                <td>ID</td>
                <td>{{album.albumID}}</td>
            </tr>
             <tr>
                <td>Title</td>
                <td>{{album.albumTitle}}</td>
            </tr>
            <tr>
                <td>Released Year</td>
                <td>{{album.releasedYear}}</td>
            </tr>
            <tr>
                <td>Number Of Songs</td>
                <td>{{album.numberOfSongs}}</td>
            </tr>
            <tr>
                <td>Album Length</td>
                <td>{{album.albumLenght}}</td>
            </tr>
        </tbody>
    </table>
    <div class="button-container">
        <button onclick="window.history.back();">Back to Albums</button>
    </div>
</div>

   